{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        {{employee.name}}
    </div>
    <div class="card-body">
      <p class="card-text"><strong>CPF: </strong>{{employee.cpf}}</p>
      <p class="card-text"><strong>Phone: </strong>{{employee.phone}}</p>
      <p class="card-text"><strong>Email: </strong>{{employee.email}}</p>
      <p class="card-text"><strong>Address: </strong>{{employee.address.street}}</p>
      <p class="card-text"><strong>Role: </strong>{{employee.role}}</p>
    </div>
</div>
<a href="{% url "update_employee" employee.id %}" class="btn btn-success">Update</a>
<a href="{% url "delete_employee" employee.id %}" class="btn btn-danger">Delete</a>

{% endblock content %}