{% extends "base.html" %}
{% block content %}

<head>
    <title>An Error Occurred.</title>
</head>
<body>
    <h1>Oops! Something went wrong.</h1>
    <p>We encountered an error while processing your request. The error code is <strong>{{ status_code }}</strong>.</p>
    <ul>
        <li>If you are aware of what caused the error, you can try fixing it and resubmitting your request.</li>
        <li>If you're unsure about the cause, you can try refreshing the page.</li>
        <li>For more complex errors, you can contact us for assistance: <strong>some@email.co</strong></li>
    </ul>
    <p>We apologize for any inconvenience caused.</p>
</body>

{% endblock content %}