{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
    <h1>Company</h1>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name:</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
        {% if companies %}
            {% for company in companies %}
                <tr>
                    <td><a href="{% url "company" company.id %}">{{company.company_name}}</td>
                    <td>{{company.cnpj}}</td>
                    <td>{{company.address.street}}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>

    {% else %}
    <div class="col-md-6 offset-md-3">
        <h1>Log in</h1>
        </br>
        <form method="POST" action="{% url "home" %}">
            {% csrf_token %}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email_address" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Enter</button>  
        </form>
    </div>
    {% endif %}

{% endblock content %}