{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated and perms.webpage.change_debtor %}
        <div class="col-md-6 offset-md-3">
            <h1>Update Debtor</h1>
            <form method="POST" >
                {% csrf_token %}
                <div lass="form-group">
                    {{debtor_form.as_p}}
                </div>
                <h2>Address</h2>
                <div lass="form-group">
                    {{address_form.as_p}}
                </div>        
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning">
        You are not authorized to Update Debtor. Please contact your administrator if you need this action.
        </div>
    {% endif %}
{% endblock content %}