{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="col-md-6 offset-md-3">
            <h1>Update Password</h1>
            <form method="POST" >
                {% csrf_token %}
                <div lass="form-group">
                    {{up_form.as_p}}
                </div>   
                <button type="submit" class="btn btn-success">Update</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning">
        You are not authorized to Update Debt. Please contact your administrator if you need this action.
        </div>
    {% endif %}
{% endblock content %}